:root {
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
}

.bd-navbar .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    --bs-dropdown-padding-x: .25rem;
    --bs-dropdown-padding-y: .25rem;
    --bs-dropdown-link-hover-bg: rgba(var(--bd-violet-rgb), .1);
    --bs-dropdown-link-active-bg: rgba(var(--bd-violet-rgb), 1);
    --bs-dropdown-font-size: .875rem;
    font-size: .875rem;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15)
}

.bd-navbar .dropdown-menu li+li {
    margin-top: .125rem
}

.bd-navbar .dropdown-menu .dropdown-item {
    border-radius: .25rem
}

.bd-navbar .dropdown-menu .dropdown-item:active .bi {
    color: inherit !important
}

.bd-navbar .dropdown-menu .active {
    font-weight: 600
}

.bd-navbar .dropdown-menu .active .bi {
    display: block !important
}

.bd-navbar .dropdown-menu-end {
    --bs-dropdown-min-width: 8rem
}

.navbar .bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor
}