/* a {text-decoration: none;} */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
h1 {text-shadow: 1px 1px white, 2px 2px white, -1px -1px white, -2px -2px white, -1px 1px white, 1px -1px white, -2px 2px white, 2px -2px white, -3px -3px 4px rgba(0,0,0,.3), -3px 3px 4px rgba(0,0,0,.3), 3px 3px 4px rgba(0,0,0,.3), 3px -3px 4px rgba(0,0,0,.3);}
h1 {font-size: 5.9vmin;}
h2 {font-size: 4.0vmin;}
i {font-size: 3.0vmin;}
p {font-size: 4.0vmin;}
.text p {text-align: justify; margin-right: 5%;}
label {font-size: 4.0vmin;}
#meow p span {
  display: flex;
  display: inline-block;
  font-size: 5vw;
}
body:hover span { 
  animation: bounce .6s;
}
@keyframes bounce {
    0%, 100% { 
    transform: translate(0); 
  }
    25% { 
    transform: rotateX(20deg) translateY(2px) rotate(-3deg); 
  }
    50% { 
    transform: translateY(-20px) rotate(3deg) scale(1.1);  
  }
}
#meow p span:nth-child(4n) { 
    color: hsl(50, 75%, 55%); 
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); 
}
#meow p span:nth-child(4n-1) { 
    color: hsl(135, 35%, 55%); 
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); 
}
#meow p span:nth-child(4n-2) { 
    color: hsl(155, 35%, 60%); 
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); 
}
#meow p span:nth-child(4n-3) { 
    color: hsl(30, 65%, 60%); 
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); 
}
.social a {
    transition: all .5s ease;
    transform-origin: left;
    transform: rotateY(-30deg);
    text-shadow: 10px 0px 1px #131313, 10px 0px 1px #070707, 10px 0px 1px black, 10px 0px 1px black;
}
.social a:hover {
    color: #202020;
    transform: rotate(0deg);
    text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
}
#chess {
  width: 362px;
  border: 1px solid #0074d9;
}
.labelChess {
  display: flex;
  width: 36px;
  height: 36px;
  border: 1px solid #0074d9;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.ttt {
  width: 360px;
  height: 360px;
  outline: 2px solid #0074d9;
}
.cell {
  width: 120px;
  height: 120px;
  border: 2px solid #0074d9;
  cursor: cell;
}
#start {width: 360px;}
#start2 {width: 360px;}
#start3 {width: 360px;}
#out {width: 360px;}
.inp {width: 360px;}
#bottom_click button {
  width: 50px;
  height: 50px;
}